
/* Styling for The CheckIn Page   */
body {
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    background-image: url(/Content/Assets/valley2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container-large{
    max-width: 1800px;
}

.table td {
    word-wrap: break-word !important;
}

input {
    width: 40px;
}

.navbar-brand {
    transition: all .2s ease-in-out;
}


    .navbar-brand:hover {
        transform: scale(1.5)
    }

.navbar {
    padding: 15px;
    -webkit-box-shadow: -2px 9px 43px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 9px 43px -6px rgba(0,0,0,0.75);
    box-shadow: -2px 9px 43px -6px rgba(0,0,0,0.75);
}

.brand-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.MVC-Brand{
    width: 15%;
}

.p-1 h1{
    font-size: 54px;
}

.p-5{
    font-size: 18px;
    font-weight: 800;
    text-align: left;
}

.m-10{
    margin: 40px;
}

.CheckIn {
    border-radius: 2.3rem !important;
    -webkit-box-shadow: -2px 9px 43px -6px rgba(0,0,0,0.55);
    -moz-box-shadow: -2px 9px 43px -6px rgba(0,0,0,0.55);
    box-shadow: -0px 9px 43px -6px rgba(0,0,0,0.55);

}


.CheckList{
    padding-top: 24px;
}

.CheckInList{
    padding: 40px;
    border-radius: 2.3rem !important;
    -webkit-box-shadow: -2px 9px 43px -6px rgba(0,0,0,0.55);
    -moz-box-shadow: -2px 9px 43px -6px rgba(0,0,0,0.55);
    box-shadow: -0px 9px 43px -6px rgba(0,0,0,0.55);
}

.CheckIn-link {
    color: #6d2771;
    text-decoration: none !important;
    font-weight: 800;
}

.CheckIn-title {
    font-weight: 700;
    padding-bottom: 12px;
}

.CheckIn a:hover {
    color: #6d2771 !important;
}

.nav-item {
    margin: 16px;
    font-size: 20px;
    text-decoration: none;
}

.table {
    margin: 16px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif !important;
}

.login input{
    font-size: 18px !important;
}

    .nav-item a {
        color: white !important;
        font-weight: 500 !important;
    }

.bg-purple {
    background-color: #6d2771;
}

.btn-primary {
    color: white !important;
    background-color: #6d2771 !important;
    padding: 24px;
    font-size: 20px;
    border: 2px solid #6d2771;
    border-radius: 0.4rem !important;
    text-align:center;
}

.table{
   padding: 400px;
}

.btn{
    width: 200px !important;
}

.Student-pic {
    -webkit-box-shadow: -2px 9px 43px -6px rgba(0,0,0,0.55);
    -moz-box-shadow: -2px 9px 43px -6px rgba(0,0,0,0.55);
    box-shadow: -0px 9px 43px -6px rgba(0,0,0,0.55);
}

.btn-Exit {
    background-color: #FFFFFF !important;
    padding: 24px;
    font-size: 20px;
    border: 2px solid #6d2771;
    border-radius: 0.4rem !important;
}
.btn-Exit:hover {
 background-color: #6d2771 !important;
 color: white;
}


.btn-primary:hover {
    border: 2px solid #6d2771;
    background-color: #FFFFFF !important;
    color: #000000 !important;
}

