

@{
    ViewBag.Title = "Check In Portal - MVC";
}
<section class="CheckInPage pt-4">
    <div class="container-fluid">
        <!--Row 1 -->
        <!-- Forms to Input Student Info-->
        <div class="row flex-sm-column flex-md-column flex-lg-row">
            <div class="col col-sm col-md-12 col-lg-4">
                <div class="CheckIn col bg-light justify-content-center align-content-center rounded-lg p-5">
                    <h1 class="text-left">Missouri Valley College Check-In Service</h1>
                    <hr />


<!--Input Group to Search Student Info-->
                    <form>
                        <div class="input-group mb-3">
                            <input type="text" placeholder="ID Number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" placeholder="Student Name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" placeholder="Entrance" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" placeholder="Residence" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="p-2 text-center">
                            <button onclick="" class="btn btn-primary mt-4">Start</button>
                            <button onclick="" class="btn btn-Exit mt-4">Clear Data</button>
                        </div>
                    </form>
                    <hr />

                    <!--Student Picture -->
                         <h1 class="font-weight-bold">Student</h1>
                         <div class="p-2 text-center">
                             <img class="Student-pic" src="" />
                         </div>
                    <div/>

                    </div>
                </div>
            </div>

        <!-- Tables where data is going to be displayed -->
            <div class="col mt-lg-0 mt-md-5 mt-sm-5 mt-xs-5">
                <div class="DataTable bg-light justify-content-center align-content-center CheckInList">
                    <h1 class="font-weight-bold">CheckList </h1>
                    <table class="table text-break">
                        <thead>
                            <tr >
                                <th scope="col">Office</th>
                                <th class="w-25" scope="col">Status</th>
                                <th scope="col">What to do</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Registrar's Office (FC-133)</th>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Financial Aid (FC-126C)</th>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Business Office (FC-126B)</th>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Admissions (FC-126A)</th>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <hr >
                    <!-- Student Affairs Section of the Table-->
                    <h1 class="font-weight-bold">Student Affairs</h1>
                    <table class="table text-break">
                        <thead>
                            <tr>
                                <th scope="col">Office</th>
                                <th class="w-25" scope="col">Status</th>
                                <th scope="col">What to do</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Consent to Treat</th>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Medical Alert Info</th>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Immunizations</th>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Emergency Contact</th>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End Row 1 -->
        </div>
</section>